* {
    margin: 0;
    padding: 0;
}

.background {
    font-size: 170px;
    font-weight: 2000px;
    text-align: center;
    /*font-family: 'Liu Jian Mao Cao', cursive;*/
    background-image: url(images/news.jpg);
    background-size: 100% 100%;
}

.quotes {
    font-family: "Pacifico", cursive;
    text-align: right;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 35px;
    background: rgb(241, 176, 176);
    border-radius: 10px;
}

.menu ul li a {
    color: #000;
    font-family: "Pacifico", cursive;
    font-size: 25px;
}

.usa {
    height: 300px;
    width: 350px;
}

.salman {
    height: 300px;
    width: 350px;
}

.sori {
    height: 300px;
    width: 350px;
}

.dag {
    height: 50px;
    background: rgb(243, 235, 235);
}

.container {
    width: 1000px;
    height: 100px;
}

.name {
    color: #000;
    font-style: italic;
    font-size: 30px;
    width: 150px;
}